div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.more-adress-content hr:first-child, .more-adress-content hr:last-child{
	display: none;
}
.custom_tel_icon {
	margin-left: 10px;
	margin-bottom: 5px
}