.area-block-ajax {
    display: contents;
}
.container-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.personal-cabinet  ul > li > ul > li > label {
    margin-left: 0;
}
.personal-cabinet  .bx_filter_input_checkbox {
    display: flex;
    align-items: center;
}
.personal-cabinet .bx_filter_param_text {
    margin-left: 5px;
}
.personal-cabinet input:not([type="file"]):not(.city_input):not(.photoFile):not(.clinics-cabinet-doctor):not(.input-doctor-address) , .personal-cabinet textarea {
    width: 100%;
    outline: none;
    border: 2px solid #9DD4B3;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: unset;
    padding: 8px 0 8px 11px;
}

.personal-cabinet-content__my-profile__info-desc ul > li > input {
    height: 40px;
}
.personal-cabinet-content__my-profile__info-form .change-password-block {
    display: none;
}
.personal-cabinet-content__my-profile__info-form .change-password span {
    color: #32B4C3;
    text-decoration: underline;
    cursor: pointer;
}
.personal-cabinet-content__my-profile__info-form .change-password span:hover, .personal-cabinet-content__my-profile__info-form .change-password span:active, .personal-cabinet-content__my-profile__info-form .change-password span:focus{
    text-decoration: none;
}
.personal-cabinet-content__my-profile__info-form .change-password-flex {
    margin-bottom: 0;
}
.personal-cabinet-content__my-profile__info-form .profile-block-shown {
    display: block;
    margin: -15px auto 0;
}
.personal-cabinet-content__my-profile__info-form ul, .personal-cabinet-content__my-profile__info-desc ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.personal-cabinet-content__my-profile .metro-container {
    width: 100%;
    max-height: 120px;
    overflow: auto;
}
.personal-cabinet-content__my-profile .metro-container::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 5px #c1c1c1;
    border-radius: 10px;
  }
  .personal-cabinet-content__my-profile .metro-container::-webkit-scrollbar, textarea::-webkit-scrollbar  {
    background: transparent;
    width: 5px;

}
.personal-cabinet-content__my-profile .metro-container::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb  {
    background: #9DD4B3;
    border-radius: 10px;
    cursor: pointer;
}
.personal-cabinet-content__my-profile .metro-container ul {
    padding: 0;
    margin: 0;
}
.personal-cabinet-content__my-profile .metro-container li label {
    margin-bottom: 0;
}
.personal-cabinet .text-view {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.booking-block .reverse_switch  {
    padding: 10px 0;
}
.booking-block h5 {
    margin: 15px;
}
.booking-block div[class^="col-"]  {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.booking-block .reverse_switch  {
    display: flex;
}
#message-form {
    width: 100%;
    margin-right: 20px;
    color: #9DD4B3;
    font-size: 18px;
    line-height: 21px;
    align-self: center;
    text-align: center;
}
.personal-cabinet-content__my-profile input {
    height: 40px;
    outline: none;
    padding:6px 20px 6px 15px;
}
.personal-cabinet-content__my-profile input.photoFile{
    padding-right: 0;
    padding-left: 0;
}
.personal-cabinet-content__my-profile textarea {
    padding: 12px 20px 11px 15px;
    resize: none;
}
.personal-cabinet-content__my-profile textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c1c1c1;
    border-radius: 10px;
  }
.personal-cabinet-content__my-profile textarea::-webkit-scrollbar {
    background: transparent;
    width: 5px;

}
.personal-cabinet-content__my-profile textarea::-webkit-scrollbar-thumb {
    background: #9DD4B3;
    border-radius: 10px;
    cursor: pointer;
}
.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .time-group{
    width: calc(100% - 215px);
}
.personal-cabinet-content__my-profile .contacts-group li {
    width: 100%;
    margin:0;
    margin-bottom: 10px;
}
#form_clinic .personal-cabinet-content__my-profile .contacts-group li {
    flex-basis: 100%;
}
.personal-cabinet-content__my-profile .contacts-group li:last-child {
    margin-bottom: 0;
}
.personal-cabinet-content__my-profile .add, .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .add-time, .place-education-block .add-place, .place-education-block .add-education, .place-education-block .add-address
{
    width: 35px;
    height: 35px;
    border: 2px dashed #9DD4B3;
    box-sizing: border-box;
    border-radius: 100%;
    color: #9DD4B3;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    float: right;
    flex: none;
}
.place-education-block .add-place, .place-education-block .add-education, .place-education-block .add-address {
    position: absolute;
    right: -43px;
    bottom: 0;
}


.personal-cabinet-content__doctors-page-box .add{
    width: 235px;
    height: 45px;
    border: 2px dashed #9DD4B3;
    box-sizing: border-box;
    border-radius: 5px;
    color: #9DD4B3;
    font-weight: bold;
    display: flex;
    padding: 12px 5px;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
}
.personal-cabinet-content__my-profile .add:hover, .personal-cabinet-content__doctors-page-box .add:hover
{
    color:#fff;
    background-color: #9DD4B3;
}
.place-schedule-block select, .place-schedule-block input{
    /*margin: 0 10px 0 15px;*/
}

.place-schedule-block select:first-child, .place-schedule-block input:first-child{
    margin-right: 60px;
}

.link-checkbox .bx_filter_param_label {
    line-height: 17px;
    padding: 5px 10px;
    border: 1px solid #32B4C3;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin-right: 0;
}
.link-checkbox .bx_filter_param_label span {
    color: #32B4C3;
}
.link-checkbox input:checked + label, .link-checkbox input:checked + label span {
    background: #32B4C3;
    color: #fff;
}
.link-checkbox label:hover {
    box-shadow: 0px 0px 10px 0px rgba(50,180,195,1);
    transition: 0.3s;
}
.link-checkbox label:hover span {

}
.link-checkbox > label:hover {
    background: initial;
    color: initial;
}
.link-checkbox input {
    display: none;
}
#metro-block-ajax, #area-block-ajax  {
    margin-bottom: 0;
}
#area-block-ajax select {
    margin-bottom: 20px;
}
.metro-container {
    margin-bottom: 20px;
}
.header .container.cabinet .contacts {
    min-width: 170px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.header .container.cabinet #header-auth, .header .container .header-auth{
    margin-left: 10px;
}
.header .container.cabinet .header-exit {
    margin-left: 11px;
    width: 38px;
    height: 38px;
}
.personal-cabinet-content__my-profile.personal-cabinet-content-auth {
    width: 100%;
    max-width: 100%;
}
.personal-cabinet-content-auth .personal-cabinet-content__my-profile__info {
    justify-content: center;
}
.personal-cabinet-content-auth .personal-cabinet-content__my-profile__info-form {
    margin: auto 0;
    flex-basis: auto;
    display: flex;
}
.personal-cabinet-none-card {
    font-family: "Montserrat Alternates";
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color:red;
}
.personal-cabinet label {
    display: inline-flex;
    margin-bottom: 0.5rem;
}
.photoFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label.photoFile-label {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    outline: none;
    padding: 12px 20px;
    text-align: center;
    margin-bottom: 0;
    color: #000000;
    background: #9DD4B3;
    border-radius: 5px;
    display: block;
    transition: 0.3s;
    border: 2px solid #9DD4B3;
    outline: none;
    padding: 12px 20px;
    cursor: pointer;
}
.photoFile-name {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
    max-width: 150px;
    margin-left: 15px;
    display: none;
}
label.photoFile-label:hover {
    background: transparent;
    color: #9DD4B3;
}
.select-time-list span.bx_filter_input_checkbox:first-child, .select-time-list span.bx_filter_param_text:last-child {
    margin: 0;
}
.personal-cabinet-content__price-page__content__list-content__price table tbody tr.disabled, .select-time-list.disabled span {
      color:#999999;
}
.personal-cabinet-content__price-page__content__list-content__price table tbody tr.disable .checkbox, .select-time-list.disabled .checkbox, .select-time-list.disabled .checkbox img, .personal-cabinet-content__price-page__content__list-content__price table tbody tr.disable .checkbox img {
    border-color: #bbe1ca;
    cursor: default;
}
.select-time-list li.disabled span:not('.bx_filter_param_text') {
    color:#999999;
}
.select-time-list li.disabled span:not('.bx_filter_input_checkbox').checkbox, .select-time-list.disabled .checkbox:not('.bx_filter_input_checkbox') img {
    border-color: #bbe1ca;
    cursor: default;
}
.personal-cabinet-content__price-page__content__list-content__price table tbody tr.disabled input:disabled{
    border-color: #bbe1ca;
    background-color: #fff;
}
.clinic-card-desc__clinic-name {
    /* width: calc(100% - 26px); */
}
.no-padding {
    padding-left: 0!important;
    padding-right: 0!important;
}
.no-margin {
    margin-left: 0!important;
    margin-right: 0!important;
}
.personal-cabinet-content__doctors-page__filter .bx_filter.bx_horizontal .main-filter .bx_filter_parameters_box {
    max-width: 100%;
}
.personal-cabinet-content__doctors-page__filter .bx_filter .bx_filter_button_box .bx_filter_block {
    margin-left: 0;
    width: auto;
}
.personal-cabinet .save {
    margin-left: 20px;
    margin-top: 20px;
}
.personal-cabinet .bx-auth-table .save {
    margin-left: 0;
    margin-top: 0;
}
.personal-cabinet .delete-doctor{
    background: #E74C77;
    border: 2px solid #E74C77;
    cursor: pointer;
}
.personal-cabinet .delete-doctor:hover {
    background: transparent;
    color: #E74C77;
}
.bx_btn {
    cursor: pointer;
    outline: none;
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    padding: 12px 5px;
    text-decoration: none;
    border-radius: 5px;
    background: #9DD4B3;
    border: none;
    width: 100%;
    text-align: center;
}
.personal-cabinet-content-item, .place-education-block {
    width: calc(100% - 24px);
}

.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content ul > li {
    margin-right: 10px;
    margin-bottom: 10px;
}
.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row > div {
    width: 100%;
    display: flex;
    align-items: center;
}
.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row > div > span {
    margin-right: 20px;
    text-align: right;
}
.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row > div > .doctor-adress {
    margin-top: 0;
}

.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row span:first-child{
    max-width: 166px;
    width: 100%;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: #000000;
}
.place-education-block span:first-child {
    max-width: 100px;
    margin-right: 20px;
}
.place-education-block .metro-container  span {
    max-width: inherit;
    width: auto;
}
.card-item:last-child{
    border: none;
    margin-bottom: 0;
}
.time-block-span{
    max-width: 166px;
    width: 100%;
    line-height: 1;
    text-align: right;
    margin-right: 20px;
    float: left;
}

.place-education-block span {
max-width: 101px;
width: 100%;
}
.no-padding{
padding-left: 0!important;
padding-right: 0!important;
}
.place-education-block input:not(.place-education-block_place):not(.input-doctor-address) {
    width: 100px!important;
}
main >.main-seo-text {
    margin-top: 75px;
}
.full-screen__filter-bg {
    background-color: #F3F4EF;
    padding-top: 1px;
    padding-bottom: 29px;
}
.services-list .nav-tabs {
    border-bottom: none;
}
/* main .services-detail {
    margin-bottom: 120px;
} */
.services-detail p {
    font-family: 'Ubuntu-Light';
    font-weight: 300;
    color: #000000;
    margin-bottom: 30px;
}
.services-detail p:first-child {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 30px;
    font-family: "Ubuntu";
    font-weight: normal;
}
.services-detail h1 {
    font-family: "Montserrat Alternates-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
}
.services-detail h2 {
    font-family: "Montserrat Alternates-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
}
.services-detail h3 {
    font-family: "Montserrat Alternates-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
}
.services-detail .row > div:last-child > img {
    border-radius: 9px;
}
.services-detail .row > div:last-child > img {
    max-width: 421px;
    max-height: 320px;
}
.services-detail .row > div:last-child > img:nth-of-type(even) {
    float: left;
    margin-right: 40px;
}
.services-detail .row > div:last-child > img:nth-of-type(odd) {
    float: right;
    margin-left: 40px;
    max-width: 486px;
    max-height: 550px;
}
.services-detail ul {
    padding-left: 17px;
    margin-top: 35px;
    margin-bottom: 40px;
    font-family: "Ubuntu-Light";
    font-weight: 300;
}
.services-detail ul  li {
    margin-bottom: 10px;
}
.services-detail ul.anchor-block-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.services-detail .anchor-block-list li a {
    line-height: 17px;
    padding-bottom: 5px;
    color: #000;
    border-bottom: 1px dashed #000000;
    padding-bottom: 5px;
    display: inline-block;
    transition: 0.1s;
}
.about-page .icons-block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.about-page .icons-block img{
    float: left;
    margin-right: 15px;
}
.bx_filter_select_popup ul li label:first-letter, .link-checkbox .bx_filter_param_label span:first-letter  {
    text-transform: uppercase;
}
.api-icon-star .count {
    opacity: 0.1;
}
.api-icon-star.active .count {
    opacity: 1;
}
.personal-cabinet .list-clinics-cabinet-doctor [type="text"] {
    display: none;
}
.personal-cabinet .close {
    cursor: pointer;
    width: 14px;
    height: 14px;
    opacity: 1;
    background-image: url(/local/templates/light_blue/assets/images/emojione-monotone_cross-mark-small.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    background-size: contain;
}
.photo-back-image {
    background-position: center;
    background-size: cover;
}
.photo-back-image-contain{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.delete-doctor-modal, .finance-modal{
    position: fixed;
    display: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    z-index: 100;
    font-size: 14px;
    width: 450px;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    top: 40vh;
    left: calc((100vw - 450px)/2);
}
.finance-modal {
    left: 50%;
    transform: translateX(-50%);
}
.delete-doctor-modal .save.close-modal {
    cursor: pointer;
}
.finance-modal .save{
    margin-left: 0;
    width: 100%;
}
.requisites-block{
    margin-top: 20px;
}
.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row .input-doctor-address {
    width: 100%;
    padding: 6px 0 6px 11px;
}
.api-reviews-list .api-footer {
    margin-bottom: 40px;
}
.personal-cabinet-content__schedule-page__block .message-lc {
    display: flex;
    align-items: baseline;
    padding: 0 20px 20px
}
.count-message{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E74C77;
    position: absolute;
    top: 2px;
    left: 30px;
    font-size: 11px;
}
.flex-right .doctors-list-item__description.reception-none {
    margin-top: 90px;
}
.review-custom-btn, .review-custom-btn:hover, .review-custom-btn:focus, .review-custom-btn:active {
    padding: 15px 25px;
    color: var(--primary);
    font-size: 18px;
    line-height: 26px;
    border: 1px solid #98D7DC;
    border-radius: 5px;
    background-color: #fff;
    margin: 30px auto 0;
    cursor: pointer;
}
.clinic-popup .clinic-popup_img {
    width: 153px;
    height: 153px;
    display: flex;
}
.clinic-popup .clinic-popup_img > img{
    width: 100%;
    height: 100%;
}
.clinic-popup .clinic-card-desc__clinic-name {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 10px;
    /* max-width: 80%; */
}
.clinic-popup .clinic-card-desc__clinic-name{
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    max-width: 100%;
}
.clinic-popup .doctors-list-item_options-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}
.clinic-popup .doctors-list-item_options-list li{
    display: inline-flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 10px;
}
.clinic-popup .col-margin {
    margin: 8px 0;
}
.clinic-card-info__block .work-day,.clinic-card-info-detail__block .work-day {
    float: left;
    padding: 0;
    width: 22px;
}
.services-detail h6.title-h3-top {
    margin-top: 60px;
    color: #9DD4B3;
}

.bx_filter .bx_filter_param_label.disabled .bx_filter_param_text {
    color: #E795AC;
    /*text-decoration: line-through;*/
}
.bx_filter .main-filter .bx_filter_param_label.disabled .checkbox {
    border: 2px solid #E795AC;
}
.bx_filter .main-filter .bx_filter_param_label input:checked + .checkbox {
    background: #9DD4B3;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    width: 100%;
    height: 24px;
    transition: 0.3s;
}
.bx_filter .main-filter .bx_filter_param_label input:checked + .checkbox + .bx_filter_param_text {
    margin: 0 auto;
}
.bx_filter .main-filter .bx_filter_param_label input:checked + .checkbox img {
    /* old */
    /*opacity: 1;*/
    opacity: 0;
}
.bx_filter .main-filter .bx_filter_input_checkbox .bx_filter_param_text {
    padding: 5px 0;
}
.bx_filter .bx_filter_input_checkbox {
    min-height: initial;
}
#modef {
    display: flex;
}
.metro-block .metro-container .metro-city-select-block {
    padding: 10px;
    box-shadow: 0px 4px 30px rgba(0 0 0 0.1);
    border-radius: 10px;
    background: #FFFFFF;
    margin-bottom: 20px;
}
.metro-block .metro-container .metro-city-select-block ul {;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
}
@media (max-width: 1430px) {
.personal-cabinet-content__my-profile .contacts-group {
    width: 100%;
}
}
@media (max-width: 1200px) {
    .booking-block div[class^="col-"] {
        justify-content: initial;
    }
}

@media (max-width: 992px) {
    .services-detail ul.anchor-block-list {
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 5px;
    }
    .services-detail ul li {
        margin-right: 10px;
    }
}
@media (max-width: 768px) {
    .container-flex .title-h2{
        margin-bottom: 0;
    }
    .uploadPhoto {
        flex-wrap: wrap;
    }
    .uploadPhoto span {
        margin: 0 auto;
    }
    .doctor-lc .personal-cabinet-content__doctors-page-box-item__desc__name {
        margin-top: 15px;
        display: block;
    }
    .time-block-span {
        max-width: 132px;
    }
    .personal-cabinet-content-item {
        width: 100%;
    }
}
@media (max-width: 730px) {
.header .container.cabinet .contacts {
    display: none;
}
.services-detail .row > div:last-child > img:nth-of-type(odd) ,.services-detail .row > div:last-child >  img:nth-of-type(even) {
    max-width: 300px;
    height: 300px;
}
.services-detail .row > div:last-child >  img:nth-of-type(odd) {
    margin-left: 20px;
}
.services-detail .row > div:last-child >  img:nth-of-type(even) {
    margin-right: 20px;
}
}
@media (max-width: 650px) {
label.photoFile-label {
    width: 100%;
}
.personal-cabinet .text-view {
    flex-direction: column-reverse;
    align-items: initial;
    text-align: center;
}
.personal-cabinet .delete-doctor,.personal-cabinet .save {
    margin-left: 0;
}
.personal-cabinet-content__doctors-page__filter__options .title-h4 {
    margin-bottom: 0;
}
}
@media (max-width: 576px) {
    .place-schedule-block select:first-child, .place-schedule-block input:first-child {
        margin-bottom: 20px;
    }
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row span:first-child {
        text-align: left;
    }
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row span {
        text-align: left;
        margin-right: 0;
        margin-bottom: 10px;
        display: block;
    }
}
.bx_filter.bx_horizontal .main-filter .bx_filter_parameters_box.none-area-fix {
    max-width: 100%;
}
@media (min-width: 450px) {
    .desktop-none {
        display: none!important;
    }
}
@media (max-width: 450px) {
    .container-flex .title-h2{
        margin: 0;
    }
    .services-detail h1, .library .title-h2 {
        font-size: 28px;
        line-height: 38px;
        word-break: break-word;
        margin-bottom: 5px;
    }
    #title-search-input {
        font-size: 13px;
        padding-left: 3px;
        font-weight: 300;
        font-family: "Ubuntu-Light";
        font-style: normal;
        padding-left: 11px;
    }
    .search-order {
        order: 2;
    }
    .header .container.cabinet .header-exit {
        margin-right: 8px;
    }
    .delete-doctor-modal {
        left: 0;
    }
    .services-detail .row > div:last-child >  img:nth-of-type(odd),.services-detail .row > div:last-child >  img:nth-of-type(even) {
        float: initial;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .place-education-block .add-place, .place-education-block .add-education, .place-education-block .add-address {
        right: -32px;
        bottom: -36px;
    }
    .place-education-block .add-education {
        right: 0;
    }
    .place-education-block .add-place {
        right: 0;
    }
    .place-schedule-block select:first-child, .place-schedule-block input:first-child {
        margin-right: 0;
    }
    .time-block-span {
        max-width: 100px;
    }
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .row .col-lg-12 {
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }
    .services-detail h3,.services-detail h2 {
        margin-bottom: 10px;
    }
    .services-detail p {
        margin-bottom: 15px;
    }
    .services-detail ul {
        margin-top: 15px;
        margin-bottom: 20px
    }
    .personal-cabinet-content-item, .place-education-block,.personal-cabinet-content__my-profile .contacts-group {
        width: 100%;
    }
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .time-group {
        width: 100%;
    }
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .time-group > li {
        width: 100%;
        margin-right: 0;
    }
    .time-block-span {
        text-align: left;
        margin-bottom: 10px;
    }
}
.search-block-hidden {
    display: none;
}
.specializations .nav {
    max-width: 100%;
    width: 100%;
}
@media (max-width: 450px){
    /*.main-filter .row > div:last-child .bx_filter_parameters_box.active:last-child {*/
    /*    width: auto!important;*/
    /*}*/
    .personal-cabinet-content__doctors-page__filter__options .main-filter .row > div:last-child {
        display: flex;
        flex-wrap: wrap;
    }
    .personal-cabinet-content__doctors-page__filter__options .main-filter .row > div:last-child .bx_filter_parameters_box.active:last-child {
        margin-bottom: 10px;
    }
    .bx_filter .main-filter .bx_filter_input_checkbox {
        margin-right: 10px;
        margin-left: 7px;
    }
    .mobile-none{
        display: none!important;
    }
    .specializations .nav-pills .nav-link.active, .specializations .nav-pills .nav-link {
        padding: 10px 0 10px;
        line-height: 1;
        text-align: center;
        display: block;
    }
}
.arstat-color-blue .api-info .api-info-bar.api-info-bar1{
    background-color:#a54d6b!important;
}
.arstat-color-blue .api-info .api-info-bar.api-info-bar2{
    background-color:#e896ad!important;
}
.arstat-color-blue .api-info .api-info-bar.api-info-bar3{
    background-color:#fcdebc!important;
}
.arstat-color-blue .api-info .api-info-bar.api-info-bar4{
    background-color:#32b6c5!important;
}
.arstat-color-blue .api-info .api-info-bar.api-info-bar5{
    background-color:#9acc9b!important;
}
.bx_filter .main-filter .bx_filter_select_block.disabled {
    border: 2px solid #9DD4B3;
    pointer-events: none;
    cursor: default;
    background: #ececec;
}