.personal-cabinet  ul > li > ul > li > label {
    margin-left: 0;
}
.personal-cabinet  .bx_filter_input_checkbox {
    display: flex;
    align-items: center;
}
.personal-cabinet .bx_filter_param_text {
    margin-left: 5px;
}
.personal-cabinet input:not([type="file"]):not(.city_input):not(.photoFile):not(.clinics-cabinet-doctor), .personal-cabinet textarea {
    width: 100%;
    outline: none;
    border: 2px solid #9DD4B3;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: unset;
    padding: 8px 0 8px 11px;
}

.personal-cabinet-content__my-profile__info-desc ul > li > input {
    height: 40px;
}
.personal-cabinet-content__my-profile__info-form .change-password-block {
    display: none;
}
.personal-cabinet-content__my-profile__info-form .change-password span {
    color: #32B4C3;
    text-decoration: underline;
    cursor: pointer;
}
.personal-cabinet-content__my-profile__info-form .change-password span:hover, .personal-cabinet-content__my-profile__info-form .change-password span:active, .personal-cabinet-content__my-profile__info-form .change-password span:focus{
    text-decoration: none;
}
.personal-cabinet-content__my-profile__info-form .change-password-flex {
    margin-bottom: 0;
}
.personal-cabinet-content__my-profile__info-form .profile-block-shown {
    display: block;
    margin: -15px auto 0;
}
.personal-cabinet-content__my-profile__info-form ul, .personal-cabinet-content__my-profile__info-desc ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.personal-cabinet-content__my-profile .metro-container {
    width: 100%;
    max-height: 120px;
    overflow: auto;
}
.personal-cabinet-content__my-profile .metro-container::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 5px #c1c1c1;
    border-radius: 10px;
  }
  .personal-cabinet-content__my-profile .metro-container::-webkit-scrollbar, textarea::-webkit-scrollbar  {
    background: transparent;
    width: 5px;

}
.personal-cabinet-content__my-profile .metro-container::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb  {
    background: #9DD4B3;
    border-radius: 10px;
    cursor: pointer;
}
.personal-cabinet-content__my-profile .metro-container ul {
    padding: 0;
    margin: 0;
}
.personal-cabinet-content__my-profile .metro-container li label {
    margin-bottom: 0;
}
.personal-cabinet .text-view {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#message-form {
    width: 100%;
    margin-right: 20px;
    color: #9DD4B3;
    font-size: 18px;
    line-height: 21px;
    align-self: center;
    text-align: center;
}
.personal-cabinet-content__my-profile input {
    height: 40px;
    outline: none;
    padding:6px 20px 6px 15px;
}
.personal-cabinet-content__my-profile input.photoFile{
    padding-right: 0;
    padding-left: 0;
}
.personal-cabinet-content__my-profile textarea {
    padding: 12px 20px 11px 15px;
    resize: none;
}
.personal-cabinet-content__my-profile textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c1c1c1;
    border-radius: 10px;
  }
.personal-cabinet-content__my-profile textarea::-webkit-scrollbar {
    background: transparent;
    width: 5px;

}
.personal-cabinet-content__my-profile textarea::-webkit-scrollbar-thumb {
    background: #9DD4B3;
    border-radius: 10px;
    cursor: pointer;
}
.personal-cabinet-content__my-profile .contacts-group, .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .time-group{
    width: calc(100% - 215px);
}
.personal-cabinet-content__my-profile .contacts-group li {
    width: 100%;
    margin:0;
    margin-bottom: 10px;
}
.personal-cabinet-content__my-profile .contacts-group li:last-child {
    margin-bottom: 0;
}
.personal-cabinet-content__my-profile .add, .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .add-time, .place-education-block .add-place, .place-education-block .add-education, .place-education-block .add-address
{
    width: 35px;
    height: 35px;
    border: 2px dashed #9DD4B3;
    box-sizing: border-box;
    border-radius: 100%;
    color: #9DD4B3;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    float: right;
}
.place-education-block .add-place, .place-education-block .add-education, .place-education-block .add-address {
    position: absolute;
    right: -43px;
    bottom: 0;
}


.personal-cabinet-content__doctors-page-box .add{
    width: 235px;
    height: 45px;
    border: 2px dashed #9DD4B3;
    box-sizing: border-box;
    border-radius: 5px;
    color: #9DD4B3;
    font-weight: bold;
    display: flex;
    padding: 12px 5px;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
}
.personal-cabinet-content__my-profile .add:hover, .personal-cabinet-content__doctors-page-box .add:hover
{
    color:#fff;
    background-color: #9DD4B3;
}
.link-checkbox .bx_filter_param_label {
    line-height: 17px;
    padding: 5px 10px;
    border: 1px solid #32B4C3;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin-right: 0;
}
.link-checkbox .bx_filter_param_label span {
    color: #32B4C3;
}
.link-checkbox input:checked + label, .link-checkbox input:checked + label span {
    background: #32B4C3;
    color: #fff;
}
.link-checkbox label:hover, .link-checkbox label:hover span {
    background: #32B4C3;
    color: #fff;
}
.link-checkbox input {
    display: none;
}
#metro-block-ajax {
    margin-bottom: 0;
}
.metro-container {
    margin-bottom: 20px;
}
.header .container.cabinet {
    width: 100%;
    max-width: 1840px;
    padding: 34px 30px 0 100px;
}
.header .container.cabinet .contacts {
    min-width: 170px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.header .container.cabinet #header-auth, .header .container .header-auth{
    margin-left: 10px;
}
.header .container.cabinet .header-exit {
    margin-left: 11px;
    width: 38px;
    height: 38px;
}
.personal-cabinet-content__my-profile.personal-cabinet-content-auth {
    width: 100%;
    max-width: 100%;
}
.personal-cabinet-content-auth .personal-cabinet-content__my-profile__info {
    justify-content: center;
}
.personal-cabinet-content-auth .personal-cabinet-content__my-profile__info-form {
    margin: auto 0;
    flex-basis: auto;
    display: flex;
}
.personal-cabinet-none-card {
    font-family: "Montserrat Alternates";
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color:red;
}
.personal-cabinet label {
    display: inline-flex;
    margin-bottom: 0.5rem;
}
.select-time-list span.bx_filter_input_checkbox:first-child, .select-time-list span.bx_filter_param_text:last-child {
    margin: 0;
}
.personal-cabinet-content__price-page__content__list-content__price table tbody tr.disabled, .select-time-list.disabled span {
      color:#999999;
}
.personal-cabinet-content__price-page__content__list-content__price table tbody tr.disable .checkbox, .select-time-list.disabled .checkbox, .select-time-list.disabled .checkbox img, .personal-cabinet-content__price-page__content__list-content__price table tbody tr.disable .checkbox img {
    border-color: #bbe1ca;
    cursor: default;
}
.select-time-list li.disabled span:not('.bx_filter_param_text') {
    color:#999999;
}
.select-time-list li.disabled span:not('.bx_filter_input_checkbox').checkbox, .select-time-list.disabled .checkbox:not('.bx_filter_input_checkbox') img {
    border-color: #bbe1ca;
    cursor: default;
}
.personal-cabinet-content__price-page__content__list-content__price table tbody tr.disabled input:disabled{
    border-color: #bbe1ca;
    background-color: #fff;
}
.clinic-card-desc__clinic-name {
    /* width: calc(100% - 26px); */
}
.no-padding {
    padding-left: 0!important;
    padding-right: 0!important;
}
.personal-cabinet-content__doctors-page__filter .bx_filter.bx_horizontal .main-filter .bx_filter_parameters_box {
    max-width: 100%;
}
.personal-cabinet-content__doctors-page__filter .bx_filter .bx_filter_button_box .bx_filter_block {
    margin-left: 0;
    width: auto;
}
.personal-cabinet .save {
    margin-left: 20px;
    margin-top: 20px;
}
.personal-cabinet .bx-auth-table .save {
    margin-left: 0;
    margin-top: 0;
}
.personal-cabinet .delete-doctor{
    background: #E74C77;
    border: 2px solid #E74C77;
    cursor: pointer;
}
.personal-cabinet .delete-doctor:hover {
    background: transparent;
    color: #E74C77;
}
.bx_btn {
    cursor: pointer;
    outline: none;
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    padding: 12px 5px;
    text-decoration: none;
    border-radius: 5px;
    background: #9DD4B3;
    border: none;
    width: 100%;
    text-align: center;
}
.personal-cabinet-content-item, .place-education-block {
    width: calc(100% - 24px);
}
.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content ul > li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row span:first-child{
    max-width: 166px;
    width: 100%;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: #000000;
}
.card-item:last-child{
    border: none;
    margin-bottom: 0;
}
.time-block-span{
    max-width: 166px;
    width: 100%;
    line-height: 1;
    text-align: right;
    margin-right: 20px;
    float: left;
}

.place-education-block span {
max-width: 101px;
width: 100%;
}
.no-padding{
padding-left: 0!important;
padding-right: 0!important;
}
.place-education-block input:not(.place-education-block_place) {
width: 100px!important;
}
main >.main-seo-text {
    margin-top: 75px;
}
.full-screen__filter-bg {
    background-color: #F3F4EF;
    padding-top: 1px;
    padding-bottom: 29px;
}
.services-list .nav-tabs {
    border-bottom: none;
}
/* main .services-detail {
    margin-bottom: 120px;
} */
.services-detail p {
    font-family: 'Ubuntu-Light';
    font-weight: 300;
    color: #000000;
    margin-bottom: 30px;
}
.services-detail p:first-child {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 30px;
    font-family: "Ubuntu";
    font-weight: normal;
}
.services-detail h1 {
    font-family: "Montserrat Alternates-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
}
.services-detail h2 {
    font-family: "Montserrat Alternates-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
}
.services-detail h3 {
    font-family: "Montserrat Alternates-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
}
.services-detail .row > div:last-child > img {
    border-radius: 9px;
}
.services-detail .row > div:last-child > img {
    max-width: 421px;
    max-height: 320px;
}
.services-detail .row > div:last-child > img:nth-of-type(even) {
    float: left;
    margin-right: 40px;
}
.services-detail .row > div:last-child > img:nth-of-type(odd) {
    float: right;
    margin-left: 40px;
    max-width: 486px;
    max-height: 550px;
}
.services-detail ul {
    padding-left: 17px;
    margin-top: 35px;
    margin-bottom: 40px;
    font-family: "Ubuntu-Light";
    font-weight: 300;
}
.services-detail ul  li {
    margin-bottom: 10px;
}
.services-detail ul.anchor-block-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.services-detail .anchor-block-list li a {
    line-height: 17px;
    padding-bottom: 5px;
    color: #000;
    border-bottom: 1px dashed #000000;
    padding-bottom: 5px;
    display: inline-block;
    transition: 0.1s;
}
.about-page .icons-block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.about-page .icons-block img{
    float: left;
    margin-right: 15px;
}
.bx_filter_select_popup ul li label:first-letter, .link-checkbox .bx_filter_param_label span:first-letter  {
    text-transform: uppercase;
}
.api-icon-star .count {
    opacity: 0.1;
}
.api-icon-star.active .count {
    opacity: 1;
}
.personal-cabinet .list-clinics-cabinet-doctor [type="text"] {
    display: none;
}
.personal-cabinet .close {
    cursor: pointer;
    width: 14px;
    height: 14px;
    opacity: 1;
    background-image: url(/local/templates/light_blue/assets/images/emojione-monotone_cross-mark-small.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    background-size: contain;
}
@media (max-width: 1430px) {
    .personal-cabinet-content__my-profile .contacts-group {
        width: 100%;
    }
}
@media (max-width: 992px) {
    .services-detail ul.anchor-block-list {
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 5px;
    }
    .services-detail ul li {
        margin-right: 10px;
    }
    .services-detail > .row > div:last-child {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .time-block-span {
        max-width: 132px;
    }
}
@media (max-width: 730px) {
    .header .container.cabinet .contacts {
        display: none;
    }
    .services-detail .row > div:last-child > img:nth-of-type(odd) ,.services-detail .row > div:last-child >  img:nth-of-type(even) {
        max-width: 300px;
        height: 300px;
    }
    .services-detail .row > div:last-child >  img:nth-of-type(odd) {
        margin-left: 20px;
    }
    .services-detail .row > div:last-child >  img:nth-of-type(even) {
        margin-right: 20px;
    }
}
@media (max-width: 650px) {
    .personal-cabinet .text-view {
        flex-direction: column-reverse;
        align-items: initial;
        text-align: center;
    }
    .personal-cabinet .delete-doctor,.personal-cabinet .save {
        margin-left: 0;
    }
    .personal-cabinet .delete-doctor {
        margin-bottom: 20px;
    }
    .personal-cabinet-content__doctors-page__filter__options .title-h4 {
        margin-bottom: 0;
    }
}
@media (max-width: 576px) {
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row span:first-child {
        text-align: left;
    }
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content-row span {
        text-align: left;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 450px) {
    .services-detail .row > div:last-child >  img:nth-of-type(odd),.services-detail .row > div:last-child >  img:nth-of-type(even) {
        float: initial;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .place-education-block .add-place, .place-education-block .add-education, .place-education-block .add-address {
        right: -32px;
        bottom: -36px;
    }
    .time-block-span {
        max-width: 100px;
    }
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .row .col-lg-12 {
        display: flex;
        flex-direction: column;
    }
    .services-detail h3,.services-detail h2 {
        margin-bottom: 10px;
    }
    .services-detail p {
        margin-bottom: 15px;
    }
    .services-detail ul {
        margin-top: 15px;
        margin-bottom: 20px
    }
    .personal-cabinet-content-item, .place-education-block,.personal-cabinet-content__my-profile .contacts-group {
        width: 100%;
    }
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .time-group {
        width: 100%;
    }
    .personal-cabinet-content__doctors-page-box-item__desc__redactor__drop__content .time-group > li {
        width: 100%;
        margin-right: 0;
    }
    .time-block-span {
        text-align: left;
        margin-bottom: 10px;
    }
}
