div.bx-auth input.bx-auth-input {vertical-align:middle;}
div.bx-auth span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

.bx-registration-table tr td {
    padding-bottom: 10px;
}
.field-wrap {
    display: flex;
    flex-wrap: wrap;
}
.field-item {
    margin-right: 10px;
}
.field-item:last-child {
    margin-right: 0;
}
.field-item > label {
    line-height: 17px;
    padding: 5px 10px;
    border: 1px solid #32B4C3;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin-right: 0;
    color: #32B4C3;
}
.field-item > label > input[checked=checked] {
    color: rgb(255, 255, 255);
    background: rgb(50, 180, 195);
}