<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Название страницы</title>
    <meta name="description" content="Описание страницы"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="assets/libraries/bootstrap-4.5.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="assets/libraries/bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/img/favicon.png">

</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo"><img src="assets/images/LOGO.svg" alt="logo"></div>
        <nav class="top-menu">
            <ul class="nav">
                <li class="nav__item"><a href="#">
                    <div class="nav__icon">
                        <img src="assets/images/tooth-dentist.svg" alt="">
                    </div>
                    <div class="nav__header">
                        Стоматология
                    </div>
                </a>
                </li>
                <li class="nav__item"><a href="#">
                    <div class="nav__icon">
                        <img src="assets/images/Frame%20163-1.svg" alt="">
                    </div>
                    <div class="nav__header">
                        Анализы
                    </div>
                </a>
                </li>
                <li class="nav__item"><a href="#">
                    <div class="nav__icon">
                        <img src="assets/images/Frame%20163.svg" alt="">
                    </div>
                    <div class="nav__header">
                        Аптеки
                    </div>
                </a>
                </li>
                <li class="nav__item"><a href="#">
                    <div class="nav__icon">
                        <img src="assets/images/Frame%20163-2.svg" alt="">
                    </div>
                    <div class="nav__header">
                        Телемедицина
                    </div>
                </a>
                </li>
            </ul>
        </nav>
        <div class="contacts">
            <select name="city" class="city">
                <option>Санкт-Петербург</option>
                <option selected="selected">Санкт-Петербург</option>
                <option>Санкт-Петербург</option>
            </select>
        </div>
    </div>
</header>
<main class="main">
    <div class="container main__header">
        <div class="head">
            <h1 class="head__text">
                <div class="head__text--top">Поиск лучших врачей</div>
                <div class="head__text--bottom">и клиник в своем городе</div>
            </h1>
            <img src="assets/images/Vector.svg" alt="plus">
        </div>
    </div>
    <div class="container img-container">
        <img class="main__img" src="assets/images/Vector%20(1).svg" alt="">
    </div>
    <section class="statistics container">
        <div class="statistics__header">
            Бесплатный сервис подбора медицинских услуг
        </div>
        <div class="statistics__items">
            <div class="statistics__item">
                <div class="statistics__icon">
                    <img src="assets/images/hospital_building.svg" alt="build">
                </div>
                <div class="statistics__block">
                    <div class="statistics__number">2396+</div>
                    <div class="statistics__text">клиник в нашей базе</div>
                </div>
            </div>
            <div class="statistics__item">
                <div class="statistics__icon">
                    <img src="assets/images/doctor_3_.svg" alt="doctor">
                </div>
                <div class="statistics__block">
                    <div class="statistics__number">10418+</div>
                    <div class="statistics__text">врачей в нашей базе</div>
                </div>
            </div>
            <div class="statistics__item">
                <div class="statistics__icon">
                    <img src="assets/images/order_in_progress.svg" alt="order">
                </div>
                <div class="statistics__block">
                    <div class="statistics__number">5162+</div>
                    <div class="statistics__text">пациента записались</div>
                </div>
            </div>
            <div class="statistics__item">
                <div class="statistics__icon">
                    <img src="assets/images/influence_1_.svg" alt="like">
                </div>
                <div class="statistics__block">
                    <div class="statistics__number">41628+</div>
                    <div class="statistics__text">отзывов о врачах</div>
                </div>
            </div>

        </div>
    </section>
</main>
<footer class="footer">
    <div class="container footer__container">

    </div>
    Подвал
    <script>
        // $( "#number" ).selectmenu();
    </script>
</footer>

<style>

</style>
</body>
</html>